{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Suppliers</title>
    <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
</head>
<body>
    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="admins">Home</a></li>
                <li><a href="supplier">Suppliers</a></li>
                <li><a href="purchase">Purchase Items</a></li>
                <li><a href="#">Sell Items</a></li>
                <li><a href="#">My Stocks</a></li>
                <li><a href="index">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <div class="wrapper"></div>
        <h1>ADD SUPPLIERS</h1>
        <br/>

        <form action="#" method="POST">{% csrf_token %}
            <table class="tbl-31">
                <tr>
                    <td>Supplier ID</td>
                    <td><input type="text", name="ID" placeholder="Enter SupplierID"></td>
                </tr>

                <tr>
                    <td>Full Name</td>
                    <td><input type="text", name="FullName" placeholder="Enter name"></td>
                </tr>

                <tr>
                    <td>Phone Number</td>
                    <td><input type="text", name="PhNo" placeholder="Enter phno"></td>
                </tr>

                <tr>
                    <td>Country</td>
                    <td><input type="text", name="Country" placeholder="Enter country"></td>
                </tr>

            </table>
        </form>
        <br/><br/>
        <a href="supplier" class="btn-primary" type="submit" name="submit">Add</a>

            
    </div>

    <div class="footer text-center">
        <div class="wrapper"></div>
            <p>All rights reserved</p>
    </div>
</body>
</html>