{% load static %}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet"  href="{% static 'styles/login.css' %}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" >
          <span></span>
          <label>Username</label>
        </div>

        
        <div class="txt_field">
          <input type="password" >
          <span></span>
          <label>Password</label>
        </div>
        <a href= "admins" input type="submit">LOGIN</a>
      </form>
    </div>

  </body>
</html>
