{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppliers</title>
    <link rel="stylesheet" href="{% static 'styles/admin.css' %}">
</head>
<body>
    <div class="menu text-center">
        <div class="wrapper">
            <ul>
                <li><a href="admins">Home</a></li>
                <li><a href="supplier">Suppliers</a></li>
                <li><a href="purchase">Purchase Items</a></li>
                <li><a href="sell.html">Sell Items</a></li>
                <li><a href="#">My Stocks</a></li>
                <li><a href="index">Logout</a></li>
            </ul>
        </div>
    </div>


    <div class="main-content">
        <div class="wrapper"></div>
        <h1>SUPPLIERS</h1>
        <br/>

        <a href="addsup" type="submit" class="btn-primary">Add Supplier</a>
        <br/><br/>

        <table class="tbl-full">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Country</th>
            </tr>

            <tr>
                <td>001</td>
                <td>ABC</td>
                <td>1234567895</td>
                <td>India</td>

            </tr>

            <tr>
                <td>00120</td>
                <td>HAHAHA</td>
                <td>1234567895</td>
                <td>London</td>
            </tr>

            <tr>
                <td>00345</td>
                <td>OHOHO</td>
                <td>1234567895</td>
                <td>Sri Lanka</td>
            </tr>
        </table>
    </div>

    <div class="footer text-center">
        <div class="wrapper"></div>
            <p>All rights reserved</p>
    </div>
</body>
</html>